*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  }
html, body { 
  margin:0;
  height: 100%;
}
form {
 height: 100%;
 overflow-y: auto;
 text-align: center;
}
#upload{
  width: 0px;
  visibility:hidden;
}
.addFile{
  color: gray;
  padding: 3.36px 148.24px;
  font-size: 15px;
  cursor: pointer;
  line-height: 72px;
  border-radius: 5px;
  margin-bottom: 8px;
  margin-left: 5px;
  text-align: center;
  transition: 0.3s ease;
  display: inline-block;
  border: 2px solid #bbb;
  background-color: transparent;
}
.addFile:hover{
  color: #4a85ef;
  border: 2px solid #4a85ef;
  background-color: #ecececad;
}
.uploadItem{
  font-size: 15px;
  width: 378px;
  border-radius:5px;
  margin-bottom: 5px;
  padding: 10px 25px;
  transition: 0.3s ease;
  display: inline-block;
  border: 2px solid #bbb;
}
.uploadItem:hover{
  border: 2px solid #4a85ef;
  background-color: #ecececad;
}
.imageSection{
  width: 48px;
  position: relative;
  margin-right: 10px;
  display: inline-block;
}
.imageSection img{
  width: 48px;
}

.imageSection div{
  top: 25px;
  right: -3px;
  color: white;
  font-size: 12px;
  cursor: default;
  position: absolute;
  background-color: #4a85ef;
  box-shadow: 0 0 1px 1px #4a85ef;
}
.progressSection{
  margin-top: 5px;
  vertical-align: top;
  display: inline-block;

}
.progressSection div{
  height: 21px;
  cursor: default;
  max-width: 200px;
  text-align: left;
  overflow: hidden;
  margin-bottom: 3px;
  padding-bottom: 1px;
  white-space: nowrap;
  transition: 0.3s ease;
  text-overflow: ellipsis;
  border-bottom: 1px solid gray;
}
.progresFile-Long{
  max-width: 200px;
  text-align: left;
  overflow: hidden;
  margin-bottom: 3px;
  padding-bottom: 1px;
  white-space: nowrap;
  transition: 0.3s ease;
  text-overflow: ellipsis;
  border-bottom: 1px solid gray;
  background-color: red;
}
.progressFile-Long:hover{
  cursor: default;
/*   text-indent: -25%; */
  white-space: nowrap;
  text-overflow: ellipsis;
}
.remove{
  width: 25px;
  height: 25px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  margin-left: 7px;
  margin-right: 4px;
  margin-top: 16.5px;
  border-radius: 50%;
  padding: 1px;
  line-height: 23px;
  text-indent: 0.5px;
  vertical-align: top;
  transition: 0.5s ease;
  border: none;
  background-color: #bbbbbb96;
}
.remove:hover{
  background-color: #ad1616;
}
.remove img{
  margin-left: -10px;
  width: 15px;
}
.progressSection progress {
  border: none;
  height: 20px;
  width: 200px;
  transition: 0.5s ease;
  -webkit-appearance: none;
}
.progressSection progress::-webkit-progress-bar {
  padding: 2px;
  background: #bbb;
  border-radius: 5px;
}
.progressSection progress::-webkit-progress-value {
  border-radius: 5px;
  box-sizing: border-box;
  background: #4a85ef; 
}
.measurement{
  white-space: nowrap;
}
